body {
    font-family: Arial, sans-serif;
    background-image: url('20240705Hochformat_Digitalisierung_Igel_1080x1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    margin: 20px 0;
}

.button-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bullet-point {
    margin-right: 10px;
    font-size: 20px;
    color: #000;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #F2592B;
    border-radius: 5px;
    width: calc(100% - 30px);
    text-align: left;
}

.custom-button:hover {
    background-color: #0056b3;
}

.service-form {
    text-align: left;
    display: none;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-form h2 {
    margin-bottom: 10px;
}

.service-form label {
    display: block;
    margin: 10px 0 5px;
}

.service-form input,
.service-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.service-form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.service-form button:hover {
    background-color: #218838;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #F2592B;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}

/* Media Queries für mobile Optimierung */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .custom-button, .back-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .service-form {
        padding: 15px;
    }

    .service-form button, .back-button {
        padding: 10px;
        font-size: 14px;
    }
}
